.subscriber-list-all,
.subscriber-list-dynamic,
.subscriber-list-warning {
  ul.subscriber-list {
    list-style-type: none;
  }

  .subscriber-list li {
    display: inline-block;
    width: 400px;
    padding: 5px 0;
    overflow: hidden;
  }

  .subscriber-list-wrapper {
    display: flex;
  }
}
.subscriber-list-dynamic{



ul.subscriber-list-table {
  border: silver solid 1px;
  list-style-type: none;
}

tr.list-row{
  border-bottom: 1px silver solid;
}



td.list-item {
  font-size: 0.9rem;
  vertical-align: center;
  min-height: 33px;
  margin-right: 10px;
  border-bottom: 1px #383838 solid;

  &-groups ul{
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
    }
  }
}


  .toolbar{
    background-color: #1f1f1f;
    margin-bottom: 20px;
    padding: 10px;
  }
}
