@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #c9c9c9;
  }
  h1, h2, h3, h4, p, div, ul, li{
    color: #c9c9c9;
  }
  h1 {
    color: #8b82af;
  }
  h2{
    color: #b1babe;

  }

}
